<div class="ChatComponentContainer">
    <h3>Select a group to chat</h3>
    <AuthorizeView>
        <Authorized>

        </Authorized>
        <NotAuthorized>
            <h4>In order to send messages you must login</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{

}
