.MyUserContainer{
    grid-row: 2/3;
    grid-column: 1/4;
    background: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 40px 1fr;
}
h3, h4{
    margin: 0;
}
.MainSection{
    height: 100%;
    width: 100%;
}
.groupSection{
    display: flex;
    justify-content: space-between;
}
.userConfigurationComponent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    padding-top: 10px;
    box-sizing: border-box;
}
.underscore {
    position: relative;
    margin-bottom: 5px;
}

    .underscore::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: white;
    }
    input{
        outline: none;
        border: none;
        border-radius: 2px;
    }
    button{
        margin-top: 5px;
        padding: 3px;
        border: 2px solid white;
        border-radius: 3px;
        cursor: pointer;
    }
    .chart{
        height: 100%;
        width: 100%;
    }