@if (OfflineUserDTOs != null)
{
    foreach (var item in OfflineUserDTOs)
    {
        <div class="userSection">
            @item.Id
        </div>
    }
}

@code{
    [Parameter]
    public List<OnlineUserDTO> OfflineUserDTOs { get; set; }
}